body {
    background-image: linear-gradient(45deg,#e6f0ebbb,#0fa887,#107063,#d3cfc1) ;
}

    .container {
        /*background-image: linear-gradient(45deg,#f0ece6bb,#0fa887,#107063,#d3cfc1);*/
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        /*background-color: white;*/
        max-width: 100%;
    }

    .logo-texto {
        flex-wrap: wrap;
    }
    
    .item {
         display: inline-flex;
         color: white;
         font-family:Arial, Helvetica, sans-serif;
        }

   .logo {
    height: 60px;
    width: 50px;
   }

   .classe-do-flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
   }

   .botoes {
    align-self: center;
   }

   .botao-next {
    background: #00704a;
    height: 40px;
    width: 90px;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
   }

   .botao-next:hover {
    background: #00704b54;
    transform: scale(1.2);
   }

   .botao-anterior {
    background: #00704a;
    height: 40px;
    width: 90px;
    align-self: center;
    border: none;
    border-radius: 5px;
    color: white;
   }

   .botao-anterior:hover {
    background: #00704b54;
    transform: scale(1.2);
   }

   .titulo {
    color: white;
    font-size: 70px;
   }

   .paragrafo {
    font-size: 25px;
    color: white;
   }

   .starbucks {
    max-height: max-content;
    width: auto;
   }

  .coffee {
    height: 400px;
    width: 200;
  }

   footer {
    color: rgb(66, 109, 87);
    height: 20px;
    border-radius: 10px solid black;
    margin-top: 20px;
   }

   .menus {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
   }

   .icone-menu {
    height: 25px;
   }

   .moto {
    height: 30px;
   }

   .icone-de-ajuda {
    height: 25px;
   }

   .botao-conferir {
    background: #00704a;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: white;
   }

   .botao-conferir:hover {
    background: #00704b54;
    transform: scale(1.2);
   }

   

   


    


